.social--youtube {
  color: #9c1313;
}

.social--youtube:hover {
  color: #d44141;
}

.social--spotify {
  color: #09803a;
}

.social--spotify:hover {
  color: #1faa59;
}

.social--bandcamp {
  color: #0c8286;
}

.social--bandcamp:hover {
  color: #1da5aa;
}

.social--instagram {
  color: #c50b62;
}

.social--instagram:hover {
  color: #f14049;
}

.social--twitch {
  color: #4f0c9b;
}

.social--twitch:hover {
  color: #8f40eb;
}
