@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/brands.css');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css');

@import url('init.css');
@import url('socials.css');

* {
  font-family: 'Josefin Sans';
  font-weight: 200;
  margin: 0;
  padding: 0;
}

body {
  color: #404040;
  background-color: #fafafa;
}

a {
  color: #0e8557;
}

.top-banner {
  padding: 16px;
  max-width: 1080px;
  margin: auto;
}

.title {
  padding-bottom: 8px;
  text-align: center;
}

.name {
  font-family: 'Yantramanav';
  font-weight: 900;
  font-size: 56px;
  letter-spacing: .05em;
  line-height: 1em;
  margin: 0;
}

.summary {
  margin: 0;
  list-style: none;
  font-family: 'Yantramanav';
  font-weight: 300;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.summary-title {
  display: inline-block;
}

.summary-title:not(:last-child)::after {
  content: '/';
  margin: 0 1em;
}

.socials {
  text-align: center;
  margin: 8px 0;
}

.social {
  display: inline-block;
  font-size: 32px;
  margin: 0 8px;
}

.main {
  max-width: 1080px;
  margin: 0 16px;
}

.preview {
  text-align: center;
  font-size: 16px;
  padding: 1em 0;
}

.preview-description {
  margin-bottom: 1em;
  letter-spacing: .1em;
}

.portfolio {
  margin-top: 32px;
}

.portfolio-title {
  text-align: center;
  font-family: 'Yantramanav';
  font-size: 40px;
  font-weight: 700;
  letter-spacing: .05em;
}

.work {
  margin: 32px 0 64px;
}

.work-name {
  border-bottom: 1px solid #404040;
  font-family: 'Yantramanav';
  font-weight: 700;
  letter-spacing: .05em;
  padding: 2px 8px;
}

.work-description {
  margin: 16px 8px;
}

.work-embed {
  margin: 0 8px;
}

.work-links {
  margin: 0 8px;
}

.work-link {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.work-link:not(:last-child)::after {
  display: inline-block;
  vertical-align: middle;
  content: '';
  background-color: #404040;
  padding: 2px;
  margin: 0 8px;
  border-radius: 4px;
}

@media screen and (min-width: 720px) {
  .name {
    font-size: 5em;
  }

  .socials {
    margin: 16px 0;
  }

  .social {
    font-size: 40px;
  }

  .preview-description {
    font-size: 32px;
  }

  .portfolio-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1096px) {
  .top-banner {
    display: flex;
    align-items: center;
  }

  .title {
    text-align: right;
  }

  .name {
    font-size: 72px;
  }

  .socials {
    flex-grow: 1;
    text-align: right;
  }

  .main {
    margin: auto;
  }

  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 8px 8px;
  }

  .work-name {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .work-embed {
    grid-row: 2 / span 2;
    grid-column: 1;
    margin: 8px;
  }

  .work-description {
    grid-row: 2;
    grid-column: 2;
    margin: 8px;
  }

  .work-links {
    grid-row: 3;
    grid-column: 2;
    text-align: right;
    margin: 8px;
  }
}