.link--youtube {
  border-color: #9c1313;
  color: #9c1313;
}

.link--youtube:hover {
  border-color: #d44141;
  color: #d44141;
}

.link--spotify {
  border-color: #09803a;
  color: #09803a;
}

.link--spotify:hover {
  border-color: #1faa59;
  color: #1faa59;
}

.link--bandcamp {
  border-color: #0c8286;
  color: #0c8286;
}

.link--bandcamp:hover {
  border-color: #1da5aa;
  color: #1da5aa;
}

.link--itunes {
  border-color: #b41437;
  color: #b41437;
}

.link--itunes:hover {
  border-color: #dd3056;
  color: #dd3056;
}

.link--amazon {
  border-color: #9b6e0c;
  color: #9b6e0c;
}

.link--amazon:hover {
  border-color: #d19e2f;
  color: #d19e2f;
}

.link--instagram {
  border-color: #c50b62;
  color: #c50b62;
}

.link--instagram:hover {
  border-color: #f14093;
  color: #f14093;
}

.link--twitch {
  border-color: #4f0c9b;
  color: #4f0c9b;
}

.link--twitch:hover {
  border-color: #8f40eb;
  color: #8f40eb;
}
